:root{
    --primary-color: #1a365d;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2, p, span, th, td{
    cursor: default;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ddd;
}

main{
    max-width: 900px;
    margin: 0 auto;
}

section{
    padding: 1rem;
    background: #fff;
    margin: 1rem 0.5rem;
    border-radius: 12px;
    border: 2px solid #776d6d;
}

button{
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    font-weight: bold;
    padding: 6px 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

input{
    outline: none;
    font-family: inherit;
    font-size: 0.8rem;
}

button:hover{
    transform: scale(1.08);
}

h2{
    margin-bottom: 1rem;
}

p{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* EJERCICIO 1 */

#figura-selector{
    margin: 0.5rem;
    outline: none;
    padding: 4px 0;
    font-family: inherit;
    font-weight: bold;
}

#figura{
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    width: 600px;
    max-height: 400px;
    margin: 0.5rem auto;
}

.figure-actions{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

#figure-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#figure-form button:hover{
    transform: scale(1.03);
}

.figure-output{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 2rem;
}

/* EJERCICIO 2 */

.edades{
    text-align: center;
}

.edades span{
    display: block;
    font-weight: bold;
    margin: 12px 0  8px 0;
    text-transform: uppercase;
}

.edades table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    color:#333;
    box-shadow: 0 4px 6px rgba(0 0 0 /0.2);
    border-radius: 0.5rem;
    overflow: hidden;
}

.edades thead{
    background-color: var(--primary-color);
    color: #fff;
    text-align: left;
}

.edades th{
    padding: 5px 8px;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

.edades td{
    padding: 5px 8px;
    color: #1e293b;
    font-weight: bold;
    text-align: center;
}

.edades th + th{
    border-left: 2px solid #ddd;
}

.edades td + td{
    border-left: 2px solid #1a365d;
}

.input-edades{
    width: 100%;
    padding: 1rem;
}

.input-edades form{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* EJERCICIO 3 */

.vectores{
    display: grid;
    gap: 0.8rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 60%;
}

.vectores div, .vector_resultado{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.vectores span, .vector_resultado span{
    display: block;
    margin: 0.5rem;
    font-weight: bold;
}

.warning{
    visibility: hidden;
    font-weight: bold;
    color: red;
}

/* EJERCICIO 4 */

#form-artist{    
    text-align: center;

}

.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.inputs input{
    padding: 5px 8px;
    font-family: inherit;
    font-size: 1rem;
}

.person, .fav{
    display: flex;
    flex-direction: column;
}



#form-artist button{
    width: 50%;
    padding: 8px;
    font-size: 1rem;
    margin-top: 1rem;
}

#form-artist button:hover{
    transform: scale(1.03);
}